.blog_bg
	cf()
	background-color #f1f1f1
	padding 50px 0 35px
	border-bottom 1px solid #3c3c3c
	p
		color text_grey
		font-size fz12
		font-family lucida_italic
		padding-bottom 25px
	

.company,	
.testimonials
	width 35%
	float left
	padding-right 50px
.blog
	width 30%
	float left
.blog_title,
.testimonials_title,
.company_title
	font-size fz18
	font-family lucida_italic
	color #000
	padding-bottom 35px
.blog_list li
	border-bottom 1px solid #cacaca
	border-top 1px solid #fff
.blog_list li
	&:first-child
		padding-top 0
		border-top none
		a
			vertical-align top
			line-height 20px
.blog_list li
	&:last-child
		border-bottom none			
	
.blog_item
	padding 25px 0 15px
.blog_link
	color link_red
	font-size fz12
	font-family lucida_italic
	line-height 24px

.blog_meta
	display block
	color text_grey
	font-size fz12
	font-family lucida_italic
	line-height 24px
.yellow_bg
	background-color main_yellow
	height 5px