.container_bg
	background-color #e6e6e6
.slider_container
	padding-top 20px
	position relative
	padding-bottom 45px

.next_button,
.prev_button
	position absolute
	top 50%
	margin-top -18px
	z-index 10
	width 20px
	height 36px 
.next_button
	left -35px
.prev_button
	right -35px
.item_title
	font-size fz12
	color text_grey
	padding 20px 15px 25px
	background-color #fff
	border-bottom 5px solid #c6c6c6
	h3
		color #050506
		font-size fz15
		font-family lucida_regular
		font-weight normal