
.footer
	cf()
	background-color #3c3c3c
	padding-top 45px
	padding-bottom 50px
	height 294px
	
.footer_title
	color #fff
	font-size fz15
	font-family lucida_dimibold
	line-height 24px
.footer_nav
	float left
	width 195px
.footer_nav_list li a
	color #c0c0c0
	font-size fz13
	line-height 24px
.social
	float left
	width 285px
	padding-right 100px
.social_list
	padding-top 25px
.social_item
	display inline-block
	position relative
	width 32px
	height 32px
	i
		width 32px
		height 32px
		absolute top 0 left 0
		
	
.twitter_link i
	background-image url(../../images/social_icon/twitter.png)
	
.facebook_link i
	background-image url(../../images/social_icon/facebook.png)
	
.in_link i
	background-image url(../../images/social_icon/link_in.png)
	
.rss_link i
	background-image url(../../images/social_icon/rss.png)
	
.youtube_link i
	background-image url(../../images/social_icon/youtube.png)
	
	
.location
	float left
	width 240px
	padding-right 60px
	span
		display block
		color #c0c0c0
		font-size fz13
		font-family lucida_regular
		line-height 24px
.text_widget
	float left 
	width 240px
.footer_copy
	clear both
	padding-top 32px
	color #747474
	font-size fz12
	font-family lucida_regular
	line-height 24px
.footer_p
	color #c0c0c0
	font-size fz13
	font-family lucida_regular
	line-height 24px