.header
	cf()
	background-color main_yellow
	box-shadow: inset 0 -5px 5px rgba(#000,0.2);
	height 100px
	border-bottom 1px solid #fff
	width 100%
.wrapper
	width 960px
	max-width 90%
	margin 0 auto
.top_pad
	padding-top 38px
.logo
	float left
.logo_link
		font-size fz20
		line-height 24px
		font-family: diavlo_medium
		text-transform uppercase
.logo_img	
	vertical-align middle
	margin-right 10px
.logo_text
	vertical-align middle
.header_nav ul
	float right
	padding-top 5px
.header_nav ul li
	display inline-block
	margin-left 20px
	vertical-align middle	
	a
		font-size fz12
		font-family: lucida_regular
		font-weight bold
		text-transform uppercase
		&:hover
			text-decoration underline
			color link_red
.btn_menu
	position relative
	display none
.nav_button
	background-image url(../../images/icon_menu.png)
	width 35px
	height 35px
	background-color transparent
	border 0
	absolute top 50% right 20px