.search_bg
	background-color #1f1f1f
	height 56px
	border-top 1px solid #000
	border-bottom 1px solid #000
	
.search
	float left
	padding 15px 0
.search_form
	display inline-block
.search_title
	color #f1f1f1
	font-size 15px
	font-family lucida_regular
	padding-right 5px
.search_text
	placeholder-color(#50504f)
	font-size 12px
	font-family lucida_italic
	line-height 2.0em
	width 225px
	vertical-align middle
	padding 0 5px
	border none
	outline none
.search_submit
	color #010100
	font-size 12px
	font-family lucida_regular
	margin-left 1px
	line-height 1.9em
	vertical-align middle
	background-color main_yellow
	border none
	outline none
	border-radius 0 4px 4px 0
	
	
.twitter
	float right
	line-height 55px	
	//padding-top 10px
.twitter_icon
	vertical-align middle
	padding-right 7px

.twitter_text
	color #f1f1f1
	font-size fz11
	font-family lucida_regular
	padding-right 12px
.twitter_link
	color main_yellow
	font-size fz11
	font-family lucida_regular
	text-decoration underline