/* font-family: "DiavloMedium, sans-serif"; */
@font-face {
	font-family: "DiavloMedium";
	src: url("../fonts/Diavlo/Diavlo_MEDIUM_II_37.otf");
	/*src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;*/
}
/* font-family: "Lucida Sans Regular"; */
@font-face {
	font-family: "Lucida Sans Regular";
	/*src: url("../fonts/Lucida Sans Regular/Lucida Sans Regular.ttf");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),*/
	src: url("../fonts/LucidaSansRegular/LucidaSansRegular.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: Lucida sans demibold; */
@font-face {
	font-family: "Lucida sans demibold";
	/*src: url("../fonts/Lucida-sans-demibold/lucida-sans-demibold.ttf");*/
	src: url("../fonts/Lucida_sans_demibold/lucida_sans_demibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Lucida_sans_demibold/lucida_sans_demibold.woff") format("woff"),
	url("../fonts/Lucida_sans_demibold/lucida_sans_demibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Lucida sans italic";
	/*src: url("../fonts/Lucida-sans-demibold/lucida-sans-demibold.ttf");
	src: url("../fonts/LucidaSansItalic/lucida_sans_demibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LucidaSansItalic/lucida_sans_demibold.woff") format("woff"),*/
	src: url("../fonts/LucidaSansItalic/lucida_sans_italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

