/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 850px) {
	.logo a span{
		display: none;
	}
}
@media only screen and (max-width : 800px) {
	.header_nav{
 		position relative
 	}
 	.header_nav ul {
 		display none
 		background-color: #efe700;
 		width: 100%;
 		position: absolute;
 		z-index: 100;
 		top: 58px;
 }
 	.header_nav ul li{
 		display block !important
 	}
 	.header_nav ul li a{
 		font-size 34px !important
 		line-height 64px !important
 	}

	
 	.btn_menu{
 		display: block !important;
 	}


}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
	 
.next_button{
	left: 7px !important;
	background-color rgba(#fff, 0.5)
	height 60px !important;
	width 32px !important;
	border-radius 20px
	z-index 1
}
.next_button img{
	absolute top 12px left 5px
}
.prev_button img{
	absolute top 12px right 5px
	}
.prev_button{
	right: 0px !important;
	background-color rgba(#fff, 0.5)
	height 60px !important;
	width 32px !important;
	border-radius 20px
	z-index 1
	}
			
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

// /*==========  Mobile First Method  ==========*/

// /* Custom, iPhone Retina */
// @media only screen and (min-width : 120px) {

// }

// /* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {

// }

//  Small Devices, Tablets 
 @media only screen and (min-width : 800px) {
		.header_nav ul {
 			display block !important
 	}
 
}

// /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {

 }

//  /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {

// }
