main_yellow = #fff600
link_red = #b72706
text_grey = #50504f
lucida_regular = "Lucida Sans Regular"
diavlo_medium = "DiavloMedium"
lucida_dimibold = "Lucida sans demibold"
lucida_italic = "Lucida sans italic"
fz11 = 11px
fz12 = 12px
fz13 = 13px
fz15 = 15px
fz18 = 18px
fz20 = 20px