* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
input :focus,
textarea :focus,
select :focus,
button :focus,
h1 :focus,
h2 :focus,
h3 :focus,
h4 :focus,
h5 :focus,
h6 :focus,
a :focus,
span :focus {
  outline: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.42em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #020001;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.header {
  background-color: #fff601;
  -webkit-box-shadow: inset 0 -5px 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.2);
  height: 100px;
  border-bottom: 1px solid #fff;
}
.header:after {
  display: table;
  content: "";
  clear: both;
}
.wrapper {
  width: 980px;
  margin: 0 auto;
}
.top_pad {
  padding-top: 38px;
}
.logo {
  float: left;
}
.logo_link {
  font-size: 30px;
  text-transform: uppercase;
}
.logo_img {
  vertical-align: middle;
  margin-right: 10px;
}
.logo_text {
  vertical-align: middle;
}
.nav_list {
  float: right;
  padding-top: 5px;
}
.nav_item {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.nav_item a {
  font-size: 18px;
}
.nav_item a:hover {
  text-decoration: underline;
  color: #b72705;
}
.container_bg {
  background-color: #e6e6e6;
}
.slider_container {
  padding-top: 20px;
  position: relative;
  padding-left: 8px;
  padding-bottom: 45px;
}
.next_button,
.prev_button {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 10;
  width: 20px;
  height: 36px;
}
.next_button {
  left: -35px;
}
.prev_button {
  right: -35px;
}
.item_title {
  color: #505050;
  padding: 20px 15px 25px;
  background-color: #fff;
  border-bottom: 5px solid #c6c6c6;
}
.item_title h3 {
  color: #000;
}
.container_articale {
  background-color: #6b6b6b;
  position: relative;
  padding: 90px 0 65px;
}
.container_articale:after {
  display: table;
  content: "";
  clear: both;
}
.btn_wrapper {
  text-align: center;
  width: 360px;
  height: 55px;
  background-color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px 100px;
  position: absolute;
  top: -25px;
  right: 50%;
  margin-right: -180px;
}
.btn_link {
  color: #fff600;
  font-size: 15px;
  text-transform: uppercase;
}
.article {
  width: 250px;
  float: left;
  padding-right: 40px;
}
.article p {
  color: #e6e6e6;
  font-size: 12px;
  padding-left: 5px;
}
.articale_icon {
  display: block;
  float: left;
}
.articale_title {
  padding-left: 40px;
  line-height: 40px;
  color: #fff600;
  font-size: 15px;
}
.child {
  padding-right: 0;
  width: 220px;
}
.blog_bg {
  background-color: #f1f1f1;
  padding: 50px 0 35px;
  border-bottom: 1px solid #3c3c3c;
}
.blog_bg:after {
  display: table;
  content: "";
  clear: both;
}
.blog_bg p {
  color: #50504f;
  font-size: 12px;
  padding-bottom: 25px;
}
.company,
.testimonials {
  width: 350px;
  float: left;
  padding-right: 50px;
}
.blog {
  width: 260px;
  float: left;
}
.blog_title,
.testimonials_title,
.company_title {
  font-size: 18px;
  color: #000;
  padding-bottom: 35px;
}
.blog_list li {
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #fff;
}
.blog_list li:first-child {
  padding-top: 0;
  border-top: none;
}
.blog_list li:first-child a {
  vertical-align: top;
  line-height: 20px;
}
.blog_list li:last-child {
  border-bottom: none;
}
.blog_item {
  padding: 25px 0 15px;
}
.blog_link {
  color: #b72706;
  font-size: 12px;
  line-height: 24px;
}
.blog_meta {
  display: block;
  color: #50504f;
  font-size: 12px;
  line-height: 24px;
}
.yellow_bg {
  background-color: #fff600;
  height: 5px;
}
